<div class="row">
  <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
              I'm Sooyeon from South Korea. I studied economics in Korea, and
              now I'm studying computer programming.
            </p>
            <p>
              They are very opposite filed, but both are really interesting for
              me. I usually go to gym when my free time.
            </p>
            <p>My goal for 2023 is to get nice co-op job.</p>
          </td>
          <td>
            </article>
    </section>
   <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Lorem Ipsum</p>
            <p>Stay tuned for future updates...</p>
     </aside>
</div>